* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

header {
  background-color: #eac926;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 15%;
  margin-right: 20px;
  position: absolute;
  left: 10px;
}

.logo img {
  max-width: 100%;
  margin-right: 20px;
}

.form {
  order: 2;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.form .input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 10%;
}

.form .submit {
  background-color: #0022aa;
  border: none;
  padding: 9px;
  cursor: pointer;
  width: 20%;
  height: 30%;
}

.top-header p {
  margin-top: 10px;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
  opacity: 0;
}

div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

.description {
  display: none;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

article:hover .description {
  opacity: 1;
}

article:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}
.main-article i {
  transition: transform 0.3s ease-in-out;
}
article:hover .main-article i {
  transform: rotate(-90deg);
}
section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section h3 {
  margin: 20px 0px;
}

article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}
.main-article.price{
  position: absolute;
  top: 10px;
  margin-bottom: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  bottom: 0;
}

@media (min-width: 361px) {
  main section article .description {
    display: block;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 45%;
  }

  .price,
  .discount {
    width: 50%;
  }
  footer{
    border-bottom: 0;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  div.burger-menu i {
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    opacity: 1;
    left: 10px;
    color: #ccc;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    opacity: 0;
  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  nav ul li {
    margin-right: 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  #piePagina p, h3 {
    margin-bottom: 10px;
  }
 .logo{
    width: 20%;
 }
 .main-article p.discount{
  position: absolute;
  left: 2px;
  bottom: 1px;
 }
 .main-article p.price{
  position: absolute;
  left: 2px;
 }
 .main-article h4{
  opacity: 1;
  
 }
 footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

 }
}
@media (min-width: 769px) {
  main section div.products article {
    width: 22%;
  }
}

button.enviar {
  background-color: rgb(100, 100, 100);
  border: none;
  color: #ebebeb;
  padding: 10px;
}
button:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #0022aa;
}
.body-login {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.header-login {
  background-color: #eac926;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-login {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.back-button {
  display: inline-block;
  padding: 5px;
  background-color: #eac926;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  border: 1px solid #000;
  border-radius: 1px;
  box-sizing: border-box;
}
.form2 {
  order: 2;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.form2 .input2 {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 10%;
}

.form2 .submit2 {
  background-color: #0022aa;
  border: none;
  padding: 9px;
  cursor: pointer;
  width: 20%;
  height: 30%;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    padding: 20px 0;
    color: #212529;
  }
  
  .piePagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    
  }
 
  
  .piePagina i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    transition: color 0.5s ease;
  }
  .piePagina i:hover {
    color: #eac926;
}
  .piePagina h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .piePagina p {
    text-align: center;
    font-size: 0.9em;
  }
 
  .copyright {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
  
  }